@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #F6F6F6; 
  color: #000000; 
  font-family: 'Helvetica Neue', sans-serif; 
}

::selection { 
  background-color: #AFFF00; 
  color: #000000; 
}
